@{
    ViewData["Title"] = "Accueil - Quiz";
}

<div class="hero-container">
    <div class="hero-content">
        <h1 class="hero-title">Le Grand Quiz de Géographie</h1>
        <p class="hero-desc">
            Testez vos connaissances sur les capitales, les drapeaux et les merveilles du monde.
            Répondez à 10 questions en moins de 5 minutes. Prêt à relever le défi ?
        </p>

        <a class="hero-button" href="/Quiz/Start">
            Commencer le Quiz
        </a>
    </div>
</div>
