html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
.question-block {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
}

.bottom-nav {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background: linear-gradient(90deg, #1c1f26, #3b3f48);
    border-radius: 40px;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.4);
    z-index: 999;
}

    .bottom-nav .nav-item {
        color: white;
        text-align: center;
        font-size: 13px;
        text-decoration: none;
        flex: 1;
        padding: 5px;
        opacity: 0.6;
        transition: 0.25s;
    }

        .bottom-nav .nav-item i {
            display: block;
            font-size: 20px;
            margin-bottom: 3px;
        }

        .bottom-nav .nav-item.active {
            opacity: 1;
            color: #2d7dff; /* bleu comme ton exemple */
        }

        .bottom-nav .nav-item:hover {
            opacity: 1;
            transform: scale(1.05);
        }
